* {box-sizing: border-box;}

html {
  font-family: Roboto, Arial, sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f9f9f9;
}

.topnav {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  max-width: 1920px;
  background-color: #ffffff;
  width: -webkit-fill-available;
}

.guide { /*Guide Button*/
  margin-top: 2px;
  margin-left: 6.5px;
  border: 0;
}

.youtube { /*Youtube*/
  margin-top: 5px;
  margin-left: 4px;
  width: 100;
  height: 38;
  border: 0;
}

.search { /*Search Bar*/
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #f0dede;
  float: center;
  padding: 5px;
  margin-left: 100px;
  margin-bottom: -2px;
  font-size: 17px;
  width: 300px;
}

.loupe {
  border: 0px solid #ffffff; 
  background-color: #fff;
  color: #f0dede;
  padding: 0;
  margin-top: 6px;
  margin-bottom: -11px;
  margin-left: -3;
  width: 65;
  border: 0;
}

.upload {
  margin-left: 100px;
  margin-bottom: 10px;
}

.apps {
  margin-left: 13px;
  margin-bottom: 8.5px;
}

.alerts {
  margin-left: 13px;
  margin-bottom: 6px;
  border: 0;
}

.echo {
  margin-right: 16px;
  margin-left: 13px;
  margin-top: 12px;
  width: 32;
  height: 32;
  border: 0;
}

.lefty {
  background: #ffffff;
  width: 72px;
  height: 881px;
  border-top: 12px solid #fff
}

.lefty > a{
  display: grid;
  max-height: 466px;
  background-color: #ffffff;
  padding: 14px;
}

.side {
  margin-left: 26px;
  margin-top: -9px;
}

.lefty > a:hover {
  background-color: #f2f2f2;
}

.more {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 12px;
  padding-top: 12px;
}

.more > a {
  display: grid;
  max-height: 466px;
  background-color: #ffffff;
  padding: 14px;
}

.more > a:hover {
  background-color: #f2f2f2;
}

.lefty div {
  width: 72px;
  padding: 16px 0 14px;
  outline: 0;
}

.lefty a {
  font-family: Roboto, Arial, sans-serif;
  color: #606060;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4rem;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  padding: 16px 0 14px;
  text-overflow: ellipsis;
  text-align: center;
}

.lefty a:link {
  color: black;
  text-decoration: none;
}

.lefty a:visited {
  text-decoration: none;
  color: black;
}

.lefty a:hover {
  text-decoration: none;
  color: black;
}

.lefty a:active {
  text-decoration: none;
  color: black;
}

.main_frame {
  position: absolute;
  display: inline-block;
  width: 982px;
  height: 869px;
  margin-left: 100px;
  margin-top: -868px;
}

.recommended {
  font-family: Roboto, Arial, sans-serif;
  font-size: 19px;
  font-weight: 550;
  margin-left: 10px;
  text-overflow: ellipsis;
}

.contents :link{
  text-decoration: none;
}

.contents :visited{
  text-decoration: none;
}

.contents :hover{
  text-decoration: none;
}

.contents :active{
  text-decoration: none;
}

.video_example {
  max-width: 292px;
  max-height: 268px;
  overflow: ;
}

.video_title {
  display: -webkit-box;
  color: #030303;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  max-height: 4rem;
  max-width: 219.66px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 11px;
}

.video_icon > img {
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 80px;
}

.video_info {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.video_info > a {
  padding: 0px 24px 0px 0px;

}

.video_channel_name {
  color: #606060;
  margin-top: 6px; 
  margin-bottom: 6px;
}

.video_views {
  color: #606060;
  display: block;
  margin-top: 3px;
}